
<div>
	{{#if devoured}}
	<img data-id="{{id}}" data-newdevour="{{devoured}}" src="../../../public/assets/img/190524-classic-american-cheeseburger-ew-207p_d9270c5c545b30ea094084c7f2342eb4.jpg" alt="Eat Burger!" />
	{{/if}}
</div>